*{
	margin:0;
	padding:0;
}
@mixin pos($pos:relative){
	position:$pos;
}
*,*:before,*:after{
	box-sizing:border-box;
}
html, body, .box {
  width: 100%;
  height: 100%;
  font-size: 100px; 
  }
  .box{
  	display:-webkit-box;
  	-webkit-box-orient:vertical;
  	.header{
  		height:0.41rem;
		width:100%;
  	}
  	footer{
  		height:0.36rem;
		width:100%;
  	}
  	.main{
  		-webkit-box-flex:1;
  		overflow:auto;
  	}
  }
.header{
	height:41px;
	width:100%;
	@include pos;
	.sear{
		width:70%;
		height:0.22rem;
		display:inline-block;
		margin-left:15%;
		margin-top:0.1rem;
		border-radius:0.05rem;
		border:1px solid #ccc;
		background:url(../img/sear.png) left no-repeat;
		background-size:auto 80% ;
	}
	.sao{
		@include pos(absolute);
		width:0.5rem;
		padding-left:0.05rem;
		padding-top:0.05rem;
		img{
			width:0.2rem;
			height:0.16rem;
			padding-left:0.05rem;
		}
	}
	.qu{
		@include pos(absolute);
		width:0.45rem;
		padding-left:0.05rem;
		padding-top:0.05rem;
		right:0;
		top:0;
		img{
			width:0.2rem;
			height:0.16rem;
			padding-left:0.05rem;
		}
	}
}
.main{
	-webkit-box-flex:1;
	width:100%;
	margin-top:0.07rem;
	height:auto;
	.tu_ind{
		width:100%;
		height:auto;
	}
	.swiper-container{
		height:0.96rem;
		width:100%;
		img{
			height:auto;
			width:100%;
		}
	}
	.DD_list{
		width:100%;
		height:auto;
	}
	.DD_dl{
		width:25%;
		margin-top:0.07rem;
		float:left;
		img{
			width:0.35rem;
			height:0.35rem;
		}
		dt{
			text-align:center;
		}
		dd{
			color:#8a8a8a;
			font-size:0.08rem;
			font-weight:bolder;
			text-align:center;
		}
	}
	.head_p{
		width:100%;
		height:0.35rem;
		background:#f7f8f8;
		clear:both;
		img{
			width:auto;
			height:70%;
			padding-left:0.22rem;
			padding-top:0.12rem;
		}
	}
	.head_top{
		width:100%;
		height:0.22rem;
		img{
			width:100%;
			height:auto;
		}
	}
	.Big_dl{
		dl{
			float:left;
			width:33%;
		}
		dt{
			text-align:center;
		}
		dd{
			width:100%;
			p{
				font-size:0.09rem;
				line-height:0.15rem;
				padding:0.08rem;
				text-index:2;
			}
			.small{
				color:#DB2242;
				text-align:center;
				padding:0;
			}
		}
		img{
			width:0.8rem;
			height:0.98rem;
			text-align:center;
		}
	}
}

/****************ind_top_dl_list********************/
.head_top{
	.sao{
		top:0.1rem;
		img{
			width:0.1rem;
			height:0.13rem;
		}
	}
	.qu{
		top:0.1rem;
	}
}
.Dl_list{
	height:0.34rem;
	width:100%;
	background:#4D4948;
	li{
		float:left;
		width:50%;
		text-align:center;
		line-height:0.34rem;
		a{
			color:#fff;
			font-size:0.1rem;
		}
	}
}
.ind_list_main{
	background:#F7F8F8;
	.hf_dl{
		width:100%;
		dl{
			margin-top:0.08rem;
			background:#fff;
		}
		img{
			width:0.52rem;
			height:auto;
		}
		dt{
			float:left;
			margin-right:0.1rem;
			padding:0 0.1rem;
		}
		dd{
			float:left;
			height:0.85rem;;
			p{
				font-size:0.11rem;
				line-height:0.2rem;
				color:#5A5858;
			}
			small{
				color:#9C9C9C;
				line-height:0.2rem;
			}
		}
	}
	.U_p{
		.user{
			width:0.44rem;
			height:0.16rem;
			display:inline-block;
			background:#DC214C;
			color:#fff;
			font-size:0.12rem;
			line-height:0.16rem;
			text-align:center;
			border-radius:0.05rem;
		}
		.user_num{
			color:#DC214C;
			margin-right:0.06rem;

		}
		.hui{
			background:#458AE5;
		}
		.num1{
				color:#458AE5;
			}
	}
}
/*********************Tab_list************************/
.Tab_list{
	width:100%;
	li{
		width:33%;
	}
}
.Tab_main{
	.Tab_dl{
		dd p{
			font-size:0.11rem;
			font-weight:bolder;
			margin-top:0.1rem;
		}
	}
}
.footer{
	width:100%;
	height:0.36rem;
	background:#F3F4F6;
	@include pos;
	z-index:100;
	ul{
	   width:100%;
	   display:-webkit-box;
	   text-align:center;
	   li{
	      -webkit-box-flex:1;
	      a{
	         i{
	            font-size:14px;
	         }
	         span{
	            font-size:10px;
	         }
	      }
	   }
	   li.on{
	      a{
	        color:#F23030;
	      }
	   }
	}
}