*{
	margin:0;
	padding:0;
}
html,body,.box{
	width:100%;
	height:100%;
	overflow:hidden;
	font-size:100px;
}
li{
	list-style:none;
}
*,*:after,*:before{
	-webkit-box-sizing:border-box;
}
a,button,input,optgroup,select,textarea{
	-webkit-tap-highlight-color:rgba(0,0,0,0);
}
a{
	text-decoration:none;
}
@mixin pos($pos:relative){
	position:$pos;
}
/***********************box*****************************/
.box{
	display:-webkit-box;
	-webkit-box-orient:vertical;
}
/*************************header******************************/
.header{
	width:100%;
	height:0.48rem;
	background:#F7F8F8;
	position: relative;
	overflow: hidden;
	z-index:100;
	h1{
	  @include pos(absolute);
	  height:0.48rem;
	  left:0.48rem;
	  right:0.48rem;
	  text-align:center;
	  line-height:0.48rem;
	  font-size:0.2rem;
	}
	p{
	  @include pos(absolute);
	  height:0.48rem;
	  left:0.48rem;
	  right:0.48rem;
	  text-align:left;
	  line-height:0.48rem;
	  font-size:0.2rem;
	}
	input{
	  @include pos(absolute);
	  left:0.4rem;
	  top:0.05rem;
	  bottom:0.05rem;
	  width:70%;
	  background:url(../img/lei_2.png) no-repeat 5px #fff;
	  background-size:0.13rem 0.13rem;
	  border:1px solid #ccc;
	  border-radius:5px;
	}
	img{
	   float:right;
	   width:0.25rem;
	   height:0.25rem;
	   margin-right:10px;
	   margin-top:10px;
	}
}
.header_content{
	position: absolute;
	left: 0.48rem;
	right: 0.48rem;
	height: 100%;
	top: 0;
	text-align: center;
	display: -webkit-box;
	-webkit-box-pack: center;
	-webkit-box-align: center;
	i{
	   position:absolute;
	   left:20px;
	   top:50%;
	   z-index:10;
	   margin-top:-6px;
	}

}
.left{
	float: left;
	height: 0.48rem;
	line-height: 0.48rem;
	padding: 0px 10px;
}
.right{
	float: right;
	height: 0.48rem;
	line-height: 0.48rem;
	padding: 0px 10px;
}
/************************************************/
.nav_group{
		width: 100%;
		display: -webkit-box;
		height: 0.30rem;
		border: 1px solid #DC214C;
		border-radius: 5px;
		.item{
		  -webkit-box-flex: 1;
		  width: 0px;
		  line-height: 0.30rem;
		  border-left: 1px solid #DC214C;
		  a{
		     color: #DC214C;
		     display: block;
		     width: 100%;
		     height: 100%;
		  }
		}
		.item.active{
		   background:#DC214C;
		   a{
		      color:#fff;
		   }
		}
}
/***************************main*****************************/
.main{
	-webkit-box-flex:1;
	-webkit-box-orient: horizontal;
	section{
	  width:100%;
	}
	.Mydingd_uls{
	  width:100%;
	  background:#fff;
	  text-align:center;
	  ul{
	     display:-webkit-box;
	     padding-top:20px;
	     li{
	        -webkit-box-flex:1;
	        img{
	          width:0.27rem;
	          height:0.25rem;
	        }
	     }
	  }
	}
}
.Mydingd{
	background:#F2F2F2;
	display:-webkit-box;
	
}
/*************************shouhou_dls*************************/
.shouhou_dls{
	width:100%;
	display:-webkit-box;
	margin-top:0.61rem;
	dl{
	   -webkit-box-flex:1;
	   height:1.34rem;
	   text-align:center;
	   margin:0 auto;
	   display:block;
	   dt{
	      width:0.87rem;
	      height:0.87rem;
	      display:block;
	      margin:0 auto;
	      img{
	         width:100%;
	         height:100%;
	         display:block;
	      }
	   }
	   dd{
	     font-size:0.14rem;
	     line-height:0.4rem;
	   }
	}
}
/************************zhuanpiao_form*********************/
.zhuanpiao_form{
	padding:10px;
	p{
	  width:100%;
	  padding-bottom:10px;
	  label{
	     width:100%;
	     height:0.3rem;
	     display:block;
	     line-height:0.3rem;
	  }
	  input{
	    width:100%;
	    height:0.3rem;
	    border-radius:5px;
	    border:1px solid #000;
	    padding:0 10px;
	  }
	}
}
/******************************zhuanpiao_text*******************************/
.zhuanpiao_text{
	width:100%;
	padding:10px;
	p{
	   width:100%;
	   height:0.62rem;
	   line-height:0.62rem;
	   margin-bottom:10px;
	   a{
	     float:left;
	     width:40%;
	   }
	   span{
	     float:left;
	     background:#E6E6E6;
	     width:0.62rem;
	     height:0.62rem;
	     display:block;
	     text-align:center;
	     line-height:0.62rem;
	     font-size:0.26rem;
	     color:#CCCCCC;
	   }
	}
	button{
	  width:100%;
	  height:0.33rem;
	  background:#DC214C;
	  color:#fff;
	  border-radius:5px;
	}
}
/******************Mybank_b******************************/
.Mybank_b{
    padding:10px;
	button{
	  width:100%;
	  height:0.36rem;
	  background:#DC214C;
	  color:#fff;
	  border-radius:5px;
	}
}
.My_form{
	padding:10px;
	form{
	  border:1px solid #999;
	  border-radius:5px;
	  p{
	    width:100%;
	    height:0.32rem;
	    line-height:0.32rem;
	    padding:0 10px;
	    border-bottom:1px solid #ccc;
	    label{
	      width:25%;
	      height:0.3rem;
	      line-height:0.3rem;
	      display:block;
          float:left;
	    }
	    input{
	       height:0.26rem;
	       width:70%;
	       border:0;
	    }
	    i{
	      float:right;
	      line-height:0.26rem;
	    }
	    span{
	      float:right;
	      line-height:0.26rem;
	    }
	  }
	}
	button{
	  width:100%;
	  height:0.36rem;
	  background:#DC214C;
	  color:#fff;
	  border-radius:5px;
	  margin-top:10px;
	}
}
/***********************************setPwd_form**********************************/
.setPwd_form{
	padding:10px;
	form{
	  width:100%;
	  p{
	     width:100%;
	     input{
	        width:100%;
	        border:1px solid #ccc;
	        border-radius:5px;
	        height:0.3rem;
	        margin-bottom:10px;
	        padding:0 10px;
	     }
	     label{
	       padding-left:5px;
	       color:#DC214C;
	     }
	  }
	  button{
	  width:100%;
	  height:0.36rem;
	  background:#DC214C;
	  color:#fff;
	  border-radius:5px;
	  margin-top:10px;
	 }
	}
}
/**************************leader_uls******************************/
.leader_uls{
	width:100%;
	ul{
	  width:100%;
	  padding:10px;
	  li{
	     width:100%;
	     height:0.46rem;
	     line-height:0.46rem;
	     border-bottom:1px solid #EFEFEF;
	     a{
	        float:left;
	     }
	     i{
	        float:right;
	        line-height:0.46rem;
	     }
	  }
	}
	.server_left{
	   float:left;
	   p{
	    line-height:0.46rem;
	   }
	   
	}
	.server_right{
	   float:right;
	   color:#16ABE3;
	   text-align:right;
	   p{
	     float:left;
	     color:#16ABE3;
	   }
	   img{
	      float:left;
	      width:0.15erm;
	      height:0.15rem;
	   }
	}
	
}
/*************************all_p***************************/
.all_p{
	width:100%;
	p{
	   text-align:center;
	   font-size:0.14rem;
	   color:#689ACC;
	   i{
	      font-size:0.16rem;
	      color:#027DC3;
	      padding-right:5px;
	   }
	}
}
/*************************Mine_tou**************************/
.Mine_tou{
	width:100%;
	height:0.83rem;
	background-image:-webkit-gradient(linear,0 top,0 bottom,color-stop(0%,#E99E5D),color-stop(100%,#890B3A));
	dl{
	  width:100%;
	  padding:10px;
	  dt{
	     width:0.61rem;
	     height:0.61rem;
	     display:block;
	     float:left;
	     img{
	       width:100%;
	       height:100%;
	     }
	  }
	  dd{
	    float:left;
	    padding-left:10px;
	    padding-top:10px;
	    color:#fff;
	    p{
	     line-height:0.24rem;
	    }
	  }
	}
}
/***********************footer********************/
.footer{
	width:100%;
	height:0.36rem;
	background:#F3F4F6;
	@include pos;
	z-index:100;
	ul{
	   width:100%;
	   display:-webkit-box;
	   text-align:center;
	   li{
	      -webkit-box-flex:1;
	      a{
	         i{
	            font-size:14px;
	         }
	         span{
	            font-size:10px;
	         }
	      }
	   }
	   li.on{
	      a{
	        color:#F23030;
	      }
	   }
	}
}
/*********************Mine_main*********************/
.Mine_main{
	width:100%;
	padding:10px;
	.Mine_item{
	  width:100%;
	  height:0.41rem;
	  border-bottom:1px solid #eee;
	  dl{
	    float:left;
	    dt{
	       width:0.2rem;
	       height:0.23rem;
	       float:left;
	       margin-top:7px;
	       img{
	         width:100%;
	         height:100%;
	       }
	    }
	    dd{
	      float:left;
	      line-height:0.41rem;
	      padding-left:5px;
	    }
	  }
	  p{
	     float:right;
	     line-height:0.41rem;
	     a{
	       color:#BEBFBF;
	     }
	     i{
	        font-size:0.16rem;
	        padding-left:10px;
	     }
	  }
	}
}
/************************Mine_uls********************************/
.Mine_uls{
	border-bottom:1px solid #eee;
	padding-bottom:10px;
	margin-bottom:10px;
}
/************************Mine_list***************************/
.Mine_list{
	width:100%;
	ul{
	   width:100%;
	   display:-webkit-box;
	   padding:10px;
	   text-align:center;
	   border-bottom:2px solid #ccc;
	   li{
	      -webkit-box-flex:1;
	      border-right:1px solid #eee;
	      a{
	         color:#9FA0A0;
	      }
	   }
	}
}
/*******************************z_header*******************************/
.z_header{
	background:#E35A16;
	a{
	  color:#fff;
	}
	h1{
	  color:#fff;
	}
	p{
	 color:#fff;
	}
}
/************************************Mymessage_uls************************************/
.Mymessage_uls{
	width:100%;
	padding:10px;
	ul{
	   width:100%;
	   margin-bottom:10px;
	   border-top:1px solid #eee;
	   li{
	      dispaly:-webkit-box;
	      height:0.44rem;
	      border-bottom:1px solid #eee;
	      a{
	         width:30%;
	         line-height:0.44rem;
	         display:inline-block;

	      }
	      input{
	        -webkit-box-flex:1;
	        height:0.28rem;
	        display:inline-block;
	        width:70%;
	        border:0;
	        text-align:right;
	      }
	   }
	}
}
.tiyandian_top{
	width:100%;
	height:1.52rem;
	background:#EE5D26;
	text-align:center;
	margib:0 auto;
	dl{
	  width:100%;
	  text-align:center;
	  margin:0 auto;
	  padding-top:10px;
	  dt{
	     width:0.84rem;
	     height:0.84rem;
	     margin:0 auto;
	     img{
	       width:100%;
	       height:100%;
	     }
	  }
	  dd{
	     padding-top:10px;
	     p{
	        color:#fff;
	     }
	  }
	}
}
/****************************tiyandian_uls****************************/
.tiyandian_uls{
	width:100%;
	padding:10px;
	ul{
	  width:100%;
	  li{
	    height:0.4rem;
	    line-height:0.4rem;
	    border-bottom:1px solid #ccc;
	    a{
	       width:20%;
	       height:0.4rem;
	       display:inline-block;
	       color:#8A8A8A;
	    }
	    input{
	      width:80%;
	      height:0.34rem;
	      border:0;
	      color:#999;
	    }
	  }
	}
}
.yijianfk_form{
	width:100%;
	padding:10px;
	textarea{
	  width:100%;
	  height:1.1rem;
	  color:#A4A4A4;
	  padding:10px;
	}
	button{
	  width:100%;
	  height:0.4rem;
	  background:#E77150;
	  color:#fff;
	  margin-top:20px;
	}
}
/**********************************regeter_top**************************************/
.regeter_top{
	width:100%;
	padding:10px;
	text-align:center;
	img{
	   width:1.47rem;
	   height:0.34rem;
	   margin-top:50px;
	   margin-bottom:40px;
	}
	form{
	  text-align:left;
	  border-top:1px solid #eee;
	  p{
	    height:0.4rem;
	    line-height:0.4rem;
	    border-bottom:1px solid #eee;
	    label{
	       width:20%;
	       height:0.4rem;
	       display:inline-block;
	    }
	    input{
	       width:80%;
	       height:0.35rem;
	       border:0;
	    }
	  }
	}
	.reg_text{
	   width:100%;
	   text-align:left;
	   height:0.4rem;
	   line-height:0.4rem;
	   span{
	     float:left;
	     line-height:0.4rem;
	     color:#F0A863;
	   }
	   a{
	     float:right;
	     line-height:0.4rem;
	     color:#F0A863
	   }
	}
	button{
	  width:100%;
	  height:0.4rem;
	  background:#E9811A;
	  color:#fff;
	  border-radius:5px;
	  margin-top:10px;
	}

}
/*********************************lei_main******************************************/
.lei_main{
	background:#F7F8F8;
	//display:-webkit-box;
	padding:10px 0;
	@include pos;
}
/**********************************lei_left*****************************************/
.lei_left{
	width:30%;
	@include pos(absolute);
	left:0;
	ul{
	  width:100%;
	  height:100%;
	  text-align:center;
	  li{
	    height:0.52rem;
	    line-height:0.52rem;
	    border-bottom:1px solid #ccc;
	    background:#EFEFEF;
	  }
	}
	ul li.on{
	  background:#FFF;
	  a{
	     color:#DE2C55;
	  }
	}
}
.lei_right{
    //-webkit-box-flex:1;
    width:70%;
    height:100%;
	background:#fff;
	@include pos(absolute);
	left:30%;
	top:10px;
	div{
	  width:100%;	
	  padding:10px;
	  padding-top:30px;
	  padding-right:0.3rem;
	  @include pos(absolute);
	  left:0%;
	  top:10px;
	  background:#fff;
	}
	h5{
	  color:#B5B5B6;
	  line-height:0.3rem;
	  height:0.3rem;
	  clear:both;
	}
	ol{
	 clear:both;
	 width:100%;
	 display:block;
	  li{

	     line-height:0.3rem;
	     float:left;
	     padding-right:20px;
	  }
	}
	

}